{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 1
      }
    }
  ]
}
