<ion-header>
  <ion-toolbar>
    <ion-title>DHBW Dualis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginFormGroup">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Benutzername</ion-label>
            <ion-input formControlName="username" type="text" (keyup.enter)="submitLoginForm(loginFormGroup)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Passwort</ion-label>
            <ion-input
              formControlName="password"
              type="password"
              (keyup.enter)="submitLoginForm(loginFormGroup)"
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button type="submit" expand="block" (click)="submitLoginForm(loginFormGroup)">Einloggen</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
